<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h1>Spring Cloud Monolith</h1>
<h3>Addition Service</h3>
<form action="/add">
    First number:<br>
    <input type="number" name="param1" value="0">
    <br>
    Second number<br>
    <input type="number" name="param2" value="0">
    <br><br>
    <input type="submit" value="Submit">
</form>
<hr>
<form action="/sub">
    First number:<br>
    <input type="number" name="param1" value="0">
    <br>
    Second number<br>
    <input type="number" name="param2" value="0">
    <br><br>
    <input type="submit" value="Submit">
</form>

<div th:replace="footer :: copy"></div>

</body>
</html>
